<div class="accordion_container">
  {%if product.metafields.Stuhrling.big_video != blank %}
  <div class="accordion-bar firstaccordian">Video<span class="plusminus">-</span></div>
  <div class="accordion-body">
    <div class="video_sec">
      	{%if product.metafields.Stuhrling.big_video != blank %} 
          <div class="video-product">
            <a id="video3" video-url="{{ product.metafields.Stuhrling.big_video }}">
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if product.metafields.Stuhrling.big_video_thumbnail != blank %}{{product.metafields.Stuhrling.big_video_thumbnail}}{%else%}https://btiwe3du61r38ffz43cak8rb-wpengine.netdna-ssl.com/wp-content/uploads/371-Thumbnail-v1.jpg{%endif%}">
            <span class="product-features-video"><img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/new-play-btn.png"></span>  
            </a>
            <h2>{{ product.metafields.Stuhrling.big_video_title_1 }}</h2>   
        
           
          </div>
          {%endif%}
        {%if product.metafields.Stuhrling.big_video_2 != blank %}
          <div class="video-product">
            <a id="video3" video-url="{{ product.metafields.Stuhrling.big_video_2 }}">
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if product.metafields.Stuhrling.big_video_2_thumbnail != blank %}{{product.metafields.Stuhrling.big_video_2_thumbnail}}{%else%}https://btiwe3du61r38ffz43cak8rb-wpengine.netdna-ssl.com/wp-content/uploads/371-Thumbnail-v1.jpg{%endif%}">
            <span class="product-features-video"><img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/new-play-btn.png"></span>  
            </a>
            <h2>{{ product.metafields.Stuhrling.big_video_title_2 }}</h2> 
          </div>
          {%endif%}
        {%if product.metafields.Stuhrling.big_video_3 != blank %}
          <div class="video-product">
            <a id="video3" video-url="{{ product.metafields.Stuhrling.big_video_3 }}">
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if product.metafields.Stuhrling.big_video_3_thumbnail != blank %}{{product.metafields.Stuhrling.big_video_3_thumbnail}}{%else%}https://btiwe3du61r38ffz43cak8rb-wpengine.netdna-ssl.com/wp-content/uploads/371-Thumbnail-v1.jpg{%endif%}">
            <span class="product-features-video"><img src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/new-play-btn.png"></span>  
            </a>
            <h2>{{ product.metafields.Stuhrling.big_video_title_3 }}</h2> 
          </div>
          {%endif%}
        </div>
  </div>  
   {%endif%}
  {%if product.metafields.Stuhrling.StyleImage != blank or product.metafields.Stuhrling.ComfortImage != blank or product.metafields.Stuhrling.FunctionImage != blank %}
  <div class="accordion-bar">Overview<span class="plusminus">-</span></div>
  {%endif%}
  <div class="accordion-body">
          
<!--         {%if product.metafields.Stuhrling.big_video != blank %}
          <div class="video-product">
            <a id="video3" video-url="{{ product.metafields.Stuhrling.big_video }}">
              <img src="{%if product.metafields.Stuhrling.big_video_thumbnail != blank %}{{product.metafields.Stuhrling.big_video_thumbnail}}{%else%}https://btiwe3du61r38ffz43cak8rb-wpengine.netdna-ssl.com/wp-content/uploads/371-Thumbnail-v1.jpg{%endif%}">
            <span class="product-features-video"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0333/0936/0264/files/new-play-btn.png"></span>  
            </a>
          </div>
          {%endif%} -->
    
    {%if product.metafields.Stuhrling.StyleImage != blank and product.metafields.Stuhrling.style_content != blank %}
  <div class="Style-product">
            <div class="container-fluid">
              <div class="row rows_t_row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="images"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ product.metafields.Stuhrling.StyleImage }}"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="content-section">
                   {%if product.metafields.Stuhrling.style_title != blank %}
                    <h2>{{ product.metafields.Stuhrling.style_title }}</h2>
                    {%endif%}
                    <p class="content_para">    {{ product.metafields.Stuhrling.style_content }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
{%endif%}
     {%if product.metafields.Stuhrling.FunctionImage != blank and product.metafields.Stuhrling.function_content != blank %}
<div class="function-product">
            <div class="container-fluid">
              <div class="row">


                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="content-section">
                     {%if product.metafields.Stuhrling.function_title != blank %}
                    <h2>{{ product.metafields.Stuhrling.function_title }}</h2>
                    {%endif%}
                    <p class="content_para">  {{ product.metafields.Stuhrling.function_content }}</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="images"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ product.metafields.Stuhrling.FunctionImage }}"></div>
                </div>
              </div>
            </div>
          </div>
{%endif%}
     {%if product.metafields.Stuhrling.ComfortImage != blank and product.metafields.Stuhrling.comfort_content != blank %}

<div class="comfort-product">
  <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="images third-image"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ product.metafields.Stuhrling.ComfortImage }}"></div>
  </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="content-section">
             {%if product.metafields.Stuhrling.comfort_title != blank %}
                    <h2>{{ product.metafields.Stuhrling.comfort_title }}</h2>
                    {%endif%}
       <p class="content_para">     {{ product.metafields.Stuhrling.comfort_content }}</p>
     </div>
  </div>
  </div>
  </div>
</div>
{%endif%}
     {%if product.metafields.Stuhrling.ProtectionImage != blank and product.metafields.Stuhrling.ProtectionText != blank %}

<div class="Protection-product">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="content-section">
       
         {%if product.metafields.Stuhrling.Protection_title != blank %}
                    <h2>{{ product.metafields.Stuhrling.Protection_title }}</h2>
                    {%endif%}
       <p class="content_para">      {{ product.metafields.Stuhrling.ProtectionText }}</p>
     </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="images third-image"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ product.metafields.Stuhrling.ProtectionImage }}"></div>
  </div>
   
  </div>
  </div>
</div>
{%endif%}
  </div>
  <div class="accordion-bar">Spec<span class="plusminus">-</span></div>
  <div class="accordion-body" style="display: none;">
   {%include 'vertical-specification'%}
          <!--    Reviews with Banner    - Start    -->
          {% if product.metafields.Stuhrling.Background_Banner_Image != blank %} 
          <div class="landing-collec-sec desc">
            <div class="product-banner">
              {% if product.metafields.Stuhrling.Banner_Image_Link  != blank %}          

              <a href="{{ product.metafields.Stuhrling.Banner_Image_Link }}"> 
                {% endif %}
                <div class="inner-product" {% if product.metafields.Stuhrling.Background_Mobile_Banner_Image != blank %}style="background-image:url('{{ product.metafields.Stuhrling.Background_Mobile_Banner_Image }}');"{% endif %}>
                  <div class="product-data banner_data">
                    <div class="hide_on_mobile">
                      <h1>
                        {% if product.metafields.Stuhrling.Banner_Heading != blank %}
                        {{ product.metafields.Stuhrling.Banner_Heading }}
                        {% endif %}
                      </h1>         
                      <div class="product-sub {% if product.metafields.Stuhrling.Banner_Content_Color != blank %}{{ product.metafields.Stuhrling.Banner_Content_Color | downcase }}{% endif %}">
                        {% if product.metafields.Stuhrling.Banner_SubHeading != blank %}
                        {{ product.metafields.Stuhrling.Banner_SubHeading }}
                        {% endif %}
                      </div>
                    </div>
                    {% if product.metafields.Stuhrling.Product_Review_1 != blank or product.metafields.Stuhrling.Review_Author_1 != blank%}
                    <div class="product-review {% if product.metafields.Stuhrling.Banner_Content_Color != blank %}{{ product.metafields.Stuhrling.Banner_Content_Color | downcase }}{% endif %}">
                      <div class="owl-review owl-carousel owl-theme">
                        {% if product.metafields.Stuhrling.Product_Review_1 != blank or product.metafields.Stuhrling.Review_Author_1 != blank%}
                        <div class="review-data item">
                          <h3>
                            "{{ product.metafields.Stuhrling.Product_Review_1 }}"
                          </h3>
                          <div>- {{ product.metafields.Stuhrling.Review_Author_1 }}</div>
                        </div>
                        {% endif %}
                        {% if product.metafields.Stuhrling.Product_Review_2 != blank or product.metafields.Stuhrling.Review_Author_2 != blank%}
                        <div class="review-data item">
                          <h3>
                            "{{ product.metafields.Stuhrling.Product_Review_2 }}"
                          </h3>
                          <div>- {{ product.metafields.Stuhrling.Review_Author_2 }}</div>
                        </div>
                        {% endif %}
                        {% if product.metafields.Stuhrling.Product_Review_3 != blank or product.metafields.Stuhrling.Review_Author_3 != blank%}
                        <div class="review-data item">
                          <h3>
                            "{{ product.metafields.Stuhrling.Product_Review_3 }}"
                          </h3>
                          <div>- {{ product.metafields.Stuhrling.Review_Author_3 }}</div>
                        </div>
                        {% endif %}
                        {% if product.metafields.Stuhrling.Product_Review_4 != blank or product.metafields.Stuhrling.Review_Author_4 != blank%}
                        <div class="review-data item">
                          <h3>
                            "{{ product.metafields.Stuhrling.Product_Review_4 }}"
                          </h3>
                          <div>- {{ product.metafields.Stuhrling.Review_Author_4 }}</div>
                        </div>
                        {% endif %}
                        {% if product.metafields.Stuhrling.Product_Review_5 != blank or product.metafields.Stuhrling.Review_Author_5 != blank%}
                        <div class="review-data item">
                          <h3>
                            "{{ product.metafields.Stuhrling.Product_Review_5 }}"
                          </h3>
                          <div>- {{ product.metafields.Stuhrling.Review_Author_5 }}</div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    {% if product.metafields.Stuhrling.button_label != blank %}
                    <div class="product-btn">
                      <button>{{product.metafields.Stuhrling.button_label }}</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% if product.metafields.Stuhrling.Banner_Image_Link  != blank %}
              </a>
              {% endif %}
            </div>
          </div>
          {% endif %}
            {% if product.metafields.Stuhrling.Background_Banner_Image_2  != blank %}   
            <div class="landing-collec-sec banner_bg_with_logo mob">
          <div class="product-banner product-banner-center">
            {% if product.metafields.Stuhrling.Banner_Image_Link_2  != blank %}
            <a href="{{ product.metafields.Stuhrling.Banner_Image_Link_2 }}"> 
              {% endif %}
              <div class="inner-product" {% if product.metafields.Stuhrling.Background_Banner_Image_2 != blank %}style="background-image:url('{{ product.metafields.Stuhrling.Background_Banner_Image_2 }}');"{% endif %}>
                <div class="product-data banner_data">
                  <div class="hide_on_mobile">
                  <h1>
                    {% if block.settings.Banner_Heading != blank %}
                    {{ block.settings.Banner_Heading }}
                    {% endif %}
                  </h1>

                  
                    {% if product.metafields.Stuhrling.banner_logo != blank %}
                    <div class="banner_logo">
                      <img src="{{ product.metafields.Stuhrling.banner_logo  }}"/>
                    </div>
                    {% endif %}
                    {% if product.metafields.Stuhrling.Banner_SubHeading_2 != blank %}
                    <div class="content_info">

                      <hr class="product-banner-border-line open_quotes open-{{ forloop.index }}"/>

                      <div class="product-sub">
                        {% if product.metafields.Stuhrling.Banner_SubHeading_2 != blank %}
                        {{ product.metafields.Stuhrling.Banner_SubHeading_2 }}
                        {% endif %}
                      </div>


                      <hr class="product-banner-border-line close_quotes close--{{ forloop.index }}"/>

                    </div>
                    {% endif %}
                  
                  </div>


                </div>
              </div>
              {% if product.metafields.Stuhrling.Banner_Image_Link_2  != blank %}
            </a>
            {% endif %}
          </div>
          </div>
          {% endif %}
<!--          Reviews with Banner - End  -->
  </div>
  <div class="accordion-bar reviews_accordion">Reviews<span class="plusminus"></span></div>
  <div class="accordion-body reviews_body">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>

</div>
