<style>
  .btn.banner-btn {
  margin: 20px auto 0;
  display: inline-block;
  line-height: normal;
  padding: 0.75em 2em;
  border-radius: 999px;
}
 .banner_content_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 30px 20px 40px; /* spacing from bottom */
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

  .custom_image_block {
    position: relative;
        height: 100%;
  }
  .custom_image_block a:has(.custom__block-image-container){
    display: flex !important;
    height: 100% !important;
  }
  .image_sub_title_head,
  .image_title_head {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  /*   .btn.banner-btn:hover {
    background-color: #000 !important;
    border-color: #000 !important;
} */
  .block.banner_block {
    padding-right: 20px;
    display: flex;
  }
  .custom_block {
    padding: 40px 0 !important;
  }
  .custom_item {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .custom__block-image-container {
    overflow: hidden;
  }

  img.custom__block-image {
    transform: scale(1.3);
    object-fit: cover;
    display: block;
    height: 100% !important;
  }
  .banner-button {
    z-index: 10;
    border: 2px solid #ff6b00 !important;
  }
  .banner-image-shadow {
    z-index: 8;
    height: 400px;
    width: 100%;
    bottom: -0.25rem;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.45281862745098034) 67%,
      rgba(0, 0, 0, 0) 97%
    );
  }

  @media (max-width: 768px) {
    .custom_item {
      padding: 0 50px !important;
    }
    .custom__item-inner {
      position: unset !important;
    }
    .custom_image_block {
      position: unset !important;
    }
    img.custom__block-image {
      padding: 80px !important;
    }
    .banner-section-outer.custom_outer_section.grid {
      margin: unset !important;
    }
    .banner_content_block {
      position: unset !important;
      top: unset !important;
      left: unset !important;
      transform: unset !important;
    }
    img.custom__block-image {
      background-image: unset !important;
    }
    .banner-image-shadow {
      display: none;
    }
    .two_banner_block {
      background: #000;
    }
    .btn.banner-btn {
      position: unset !important;
      bottom: unset !important;
      left: unset !important;
      transform: unset !important;
    }
    .banner-button {
      width: 100%;
      max-width: 200px;
    }
    h2.image_title_head {
      font-size: 36px;
      line-height: 50px;
    }
    p.image_text.align--center {
      font-size: 24px;
      line-height: 35px;
    }
  }
  @media (max-width: 480px) {
    .banner_content_block {
      top: 0;
    }
    .image_sub_title_head {
      font-size: 14px;
    }
    img.custom__block-image {
      padding: unset !important;
    }
    h2.image_title_head {
      font-size: 28px !important;
      line-height: 35px !important;
      letter-spacing: 5px;
    }
    p.image_text.align--center {
      font-size: 17px !important;
      line-height: 25px !important;
    }
    img.custom__block-image {
      transform: scale(1.5);
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .custom_item {
      padding: 0 20px !important;
    }

    .banner-button {
      margin: 30px auto 0 !important;
    }

    .banner-section:first-child {
      margin-bottom: 50px;
    }

    .custom_image_block {
      margin-bottom: 30px;
    }

    .custom__block-image-container {
      margin-bottom: 40px !important;
    }

    .block.banner_block.custom_block.two_banner_block {
      padding: 50px 0 20px 0px !important;
    }

    .image_title_head.align--center {
      font-weight: 500;
    }

    .block.banner_block.custom_block.two_banner_block .align--center.btn.banner-btn.banner-button {
      color: #fff !important;
    }
  }
  @media (max-width: 414px) {
    .image_title_head {
      font-size: 25px;
    }
  }
  @media (max-width: 375px) {
    .image_title_head {
      margin-top: 10px;
    }
  }
  .banner-section-outer.custom_outer_section.grid {
    width: 100%;
    margin: 0;
}
  @media (max-width: 991px) {
    .block.banner_block{
      display: block;
    }

    .custom_item{
      height: auto;
      display: block;
    }
    .custom_image_block{
      height: auto;
    }
    .custom_image_block a:has(.custom__block-image-container) {
        display: block !important;
        height: auto !important;
    }
    img.custom__block-image{
      height: auto !important;
      padding: 0px !important;
    }
  }
</style>
<style>
  .block.banner_block.custom_block.two_banner_block {
    background-color: #000 !important;
    padding: 40px 0;
  }
  .block.banner_block.custom_block.two_banner_block h2,
  .block.banner_block.custom_block.two_banner_block h4,
  .block.banner_block.custom_block.two_banner_block p {
    color: #fff !important;
  }
</style>
<div class="block banner_block custom_block two_banner_block">
  <div class="banner-section-outer custom_outer_section grid">
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign block_width = 'col-xs-12 col-md-3' -%}
        {% when '33%' %}
          {%- assign block_width = 'col-xs-12 col-md-4' -%}
        {% when '41%' %}
          {%- assign block_width = 'col-xs-12 col-md-5' -%}
        {% when '50%' %}
          {%- assign block_width = 'col-xs-12 col-md-6' -%}
        {% when '58%' %}
          {%- assign block_width = 'col-xs-12 col-md-7' -%}
        {% when '66%' %}
          {%- assign block_width = 'col-xs-12 col-md-8' -%}
        {% when '75%' %}
          {%- assign block_width = 'col-xs-12 col-md-9' -%}
        {% when '100%' %}
          {%- assign block_width = 'col-xs-12 col-md-12' -%}
      {% endcase %}
      <div
        class="banner-section grid__item custom_item custom__item--{{ block.id }} small--one-whole {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}"
        {{ block.shopify_attributes }}
      >
        <div class="custom__item-inner custom__item-inner--{{ block.type }}">
          {% case block.type %}
            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div class="custom_image_block">
                  {% if block.settings.image_url != blank %}<a href="{{ block.settings.image_url }}" class="collection-img">{% endif %}
                  <div class="custom__block-image-container image-{{ forloop.index }}">
                    {% assign img_url = block.settings.image
                      | img_url: 'master'
                      | replace: '_original.', '_{width}x.'
                    %}

                    <img
                      class="custom__block-image lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt | escape }}"
                      sizes="auto"
                    >
                    <noscript>
                      <picture>
  <source srcset="{{ block.settings.image | img_url: '1400x600' | replace: '.jpg', '.webp' }}" type="image/webp">
  <img
    src="{{ block.settings.image | img_url: '1400x600' }}"
    alt="{{ block.settings.image.alt | escape }}"
    class="custom__block-image"
    width="1400"
    height="600"
  >
</picture>

                    </noscript>
                  </div>
                  {% if block.settings.image_title != blank
                    or block.settings.image_sub_title != blank
                    or block.settings.image_short_desc != blank
                    or block.settings.button_title != blank
                  %}
                    <div class="banner_content_block">
                      {% if block.settings.image_title != blank %}
                        <h2
                          style="color:{{ block.settings.text_color}};"
                          class="image_title_head {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}"
                        >
                          {{ block.settings.image_title }}
                        </h2>
                      {% endif %}
                      {% if block.settings.image_sub_title != blank %}
                        <h4
                          style="color:{{ block.settings.text_color}};"
                          class="image_sub_title_head {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}"
                        >
                          {{ block.settings.image_sub_title }}
                        </h4>
                      {% endif %}
                      {% if block.settings.image_short_desc != blank %}
                        <p
                          style="color:{{ block.settings.text_color}};"
                          class="image_text {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}"
                        >
                          {{ block.settings.image_short_desc }}
                        </p>
                      {% endif %}
                    </div>
                    {% if block.settings.button_title != blank %}
                      <a
                        style="border:1px solid {{ block.settings.button_bg }}; background-color:{{ block.settings.button_bg }}; color:{{ block.settings.button_color}};"
                        class="{% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %} btn banner-btn banner-button"
                        href="{{ block.settings.button_link}}"
                      >
                        {{ block.settings.button_title }}
                      </a>
                    {% endif %}
                  {% endif %}
                  {% if block.settings.image_url != blank %}</a>{% endif %}
                  <div class="banner-image-shadow"></div>
                </div>

              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
          {% endcase %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Two Banners Section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "ms": "Imej",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "ms": "Imej",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Title"
        },

        {
          "type": "text",
          "id": "image_sub_title",
          "label": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "image_short_desc",
          "label": "Short Description"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button CTA Link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button Text Color"
        },
        {
          "type": "color",
          "id": "button_bg",
          "label": "Button Background Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Slide CTA Link"
        },
        {
          "type": "header",
          "content": {
            "da": "Layout",
            "de": "Layout",
            "en": "Layout",
            "es": "Diseño",
            "fi": "Asettelu",
            "fr": "Mise en page",
            "hi": "लेआउट",
            "it": "Layout",
            "ja": "レイアウト",
            "ko": "레이아웃",
            "ms": "Tata letak",
            "nb": "Oppsett",
            "nl": "Indeling",
            "pt-BR": "Layout",
            "pt-PT": "Esquema",
            "sv": "Layout",
            "th": "เลย์เอาต์",
            "zh-CN": "布局",
            "zh-TW": "版面配置"
          }
        },
        {
          "type": "select",
          "id": "width",
          "label": {
            "da": "Containerbredde",
            "de": "Breite des Elements",
            "en": "Container width",
            "es": "Ancho del contenedor",
            "fi": "Säiliön leveys",
            "fr": "Largeur du conteneur",
            "hi": "कंटेनर की चौड़ाई",
            "it": "Larghezza contenitore",
            "ja": "コンテナーの幅",
            "ko": "컨테이너 폭",
            "ms": "Lebar bekas",
            "nb": "Beholderbredde",
            "nl": "Containerbreedte",
            "pt-BR": "Largura do recipiente",
            "pt-PT": "Largura do recipiente",
            "sv": "Container-bredd",
            "th": "ความกว้างของความจุ",
            "zh-CN": "容器宽度",
            "zh-TW": "容器寬度"
          },
          "default": "50%",
          "options": [
            {
              "value": "25%",
              "label": {
                "da": "25 %",
                "de": "25%",
                "en": "25%",
                "es": "25%",
                "fi": "25 %",
                "fr": "25 %",
                "hi": "25%",
                "it": "25%",
                "ja": "25%",
                "ko": "25%",
                "ms": "25%",
                "nb": "25 %",
                "nl": "25%",
                "pt-BR": "25%",
                "pt-PT": "25%",
                "sv": "25 %",
                "th": "25%",
                "zh-CN": "25％",
                "zh-TW": "25%"
              }
            },
            {
              "value": "33%",
              "label": {
                "da": "33 %",
                "de": "33%",
                "en": "33%",
                "es": "33%",
                "fi": "33 %",
                "fr": "33 %",
                "hi": "33%",
                "it": "33%",
                "ja": "33%",
                "ko": "33%",
                "ms": "33%",
                "nb": "33 %",
                "nl": "33%",
                "pt-BR": "33%",
                "pt-PT": "33%",
                "sv": "33 %",
                "th": "33%",
                "zh-CN": "33%",
                "zh-TW": "33%"
              }
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": {
                "da": "50 %",
                "de": "50%",
                "en": "50%",
                "es": "50%",
                "fi": "50 %",
                "fr": "50 %",
                "hi": "50%",
                "it": "50%",
                "ja": "50%",
                "ko": "50%",
                "ms": "50%",
                "nb": "50 %",
                "nl": "50%",
                "pt-BR": "50%",
                "pt-PT": "50%",
                "sv": "50 %",
                "th": "50%",
                "zh-CN": "50%",
                "zh-TW": "50%"
              }
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": {
                "da": "66 %",
                "de": "66%",
                "en": "66%",
                "es": "66%",
                "fi": "66 %",
                "fr": "66 %",
                "hi": "66%",
                "it": "66%",
                "ja": "66%",
                "ko": "66%",
                "ms": "66%",
                "nb": "66 %",
                "nl": "66%",
                "pt-BR": "66%",
                "pt-PT": "66%",
                "sv": "66 %",
                "th": "66%",
                "zh-CN": "66%",
                "zh-TW": "66%"
              }
            },
            {
              "value": "75%",
              "label": {
                "da": "75 %",
                "de": "75%",
                "en": "75%",
                "es": "75%",
                "fi": "75 %",
                "fr": "75 %",
                "hi": "75%",
                "it": "75%",
                "ja": "75%",
                "ko": "75%",
                "ms": "75%",
                "nb": "75 %",
                "nl": "75%",
                "pt-BR": "75%",
                "pt-PT": "75%",
                "sv": "75 %",
                "th": "75%",
                "zh-CN": "75%",
                "zh-TW": "75%"
              }
            },
            {
              "value": "100%",
              "label": {
                "da": "100 %",
                "de": "100%",
                "en": "100%",
                "es": "100%",
                "fi": "100 %",
                "fr": "100 %",
                "hi": "100%",
                "it": "100%",
                "ja": "100%",
                "ko": "100%",
                "ms": "100%",
                "nb": "100 %",
                "nl": "100%",
                "pt-BR": "100%",
                "pt-PT": "100%",
                "sv": "100 %",
                "th": "100%",
                "zh-CN": "100%",
                "zh-TW": "100%"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "da": "Lodret justering",
            "de": "Vertikale Ausrichtung",
            "en": "Vertical alignment",
            "es": "Alineación vertical",
            "fi": "Pystysuuntainen tasaus",
            "fr": "Alignement vertical",
            "hi": "लंबवत पंक्तिबद्धता",
            "it": "Allineamento verticale",
            "ja": "垂直アラインメント",
            "ko": "수직 정렬",
            "ms": "Penjajaran menegak",
            "nb": "Vertikal justering",
            "nl": "Verticaal uitlijnen",
            "pt-BR": "Alinhamento vertical",
            "pt-PT": "Alinhamento vertical",
            "sv": "Vertikal justering",
            "th": "การจัดวางแนวตั้ง",
            "zh-CN": "垂直对齐",
            "zh-TW": "垂直對齊"
          },
          "info": {
            "da": "Placering i forhold til andre indholdsblokke på samme række",
            "de": "Position im Verhältnis zu anderen Inhaltsblöcken in derselben Zeile",
            "en": "Position relative to other content blocks on the same row",
            "es": "Posición relativa a otros bloques de contenido en la misma fila",
            "fi": "Sijainti suhteessa muihin saman rivin sisältölohkoihin",
            "fr": "Position par rapport à d'autres blocs de contenu sur la même rangée",
            "hi": "एक ही पंक्ति पर अन्य सामग्री ब्लॉक के सापेक्ष स्थिति",
            "it": "Posizione relativa ad altri blocchi di contenuto sulla stessa riga",
            "ja": "同じ行の別のコンテンツブロックに対する相対的な位置",
            "ko": "같은 열에 있는 다른 콘텐츠 블록과 관련된 위치",
            "ms": "Kedudukan relatif kepada blok kandungan lain pada baris yang sama",
            "nb": "Plassering i forhold til andre innholdsblokker på samme rad",
            "nl": "Positie ten opzichte van andere inhoudsblokken in dezelfde rij",
            "pt-BR": "Posição em relação a outros blocos de conteúdo na mesma linha",
            "pt-PT": "Posição em relação a outros blocos de conteúdo na mesma linha",
            "sv": "Position i förhållande till andra innehållsblock i samma rad",
            "th": "ตำแหน่งที่สัมพันธ์กับชุดเนื้อหาอื่นในแถวเดียวกัน",
            "zh-CN": "相对于同一行中其他内容块的位置",
            "zh-TW": "和同一列其他內容區塊的相對位置"
          },
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": {
                "da": "Top",
                "de": "Oben",
                "en": "Top",
                "es": "Superior",
                "fi": "Ylös",
                "fr": "En haut",
                "hi": "सबसे ऊपर",
                "it": "In alto",
                "ja": "上",
                "ko": "위쪽",
                "ms": "Atas",
                "nb": "Topp",
                "nl": "Boven",
                "pt-BR": "Acima",
                "pt-PT": "Acima",
                "sv": "Högst upp",
                "th": "ด้านบน",
                "zh-CN": "顶部",
                "zh-TW": "頂部"
              }
            },
            {
              "value": "center",
              "label": {
                "da": "I midten",
                "de": "Mitte",
                "en": "Middle",
                "es": "Al medio",
                "fi": "Keskelle",
                "fr": "Au milieu",
                "hi": "मध्य में",
                "it": "Al centro",
                "ja": "中央",
                "ko": "중간",
                "ms": "Tengah",
                "nb": "Midten",
                "nl": "Midden",
                "pt-BR": "Meio",
                "pt-PT": "Meio",
                "sv": "Mitten",
                "th": "ตรงกลาง",
                "zh-CN": "中间",
                "zh-TW": "中央"
              }
            },
            {
              "value": "bottom",
              "label": {
                "da": "Bund",
                "de": "Unten",
                "en": "Bottom",
                "es": "Inferior",
                "fi": "Alas",
                "fr": "En bas",
                "hi": "नीचे का",
                "it": "In basso",
                "ja": "下",
                "ko": "아래쪽",
                "ms": "Bawah",
                "nb": "Bunn",
                "nl": "Onder",
                "pt-BR": "Abaixo",
                "pt-PT": "Abaixo",
                "sv": "Längst ner",
                "th": "ด้านล่าง",
                "zh-CN": "底部",
                "zh-TW": "底部"
              }
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Banners Section",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
