<div class="collection-area block">

  <div class="wrapper-mini1"><div class="collection-grid row">
  <div class="collection-div col-md-6 col-sm-6 col-xs-12">
    <div class="collection-area">
      <img src="{%if section.settings.image-one != blank %}{{section.settings.image-one | img_url:'master'}}{%else%}https://cdn.shopify.com/s/files/1/0333/0936/0264/files/mens.jpg?v=1582538862{%endif%}">
      <div class="absolute-area">
      <span> {%if section.settings.text-one != blank %} {{section.settings.text-one}} {%else%}Men's Watches{%endif%}</span>
        <a href="{%if section.settings.url-one != blank %} {{section.settings.url-one}} {%else%}collections/men-watches{%endif%}">SHOP ALL</a>
      </div>
    </div>
  </div>
   <div class="collection-div second-coll col-md-6 col-sm-6 col-xs-12">
      <div class="collection-area">
          <img src="{%if section.settings.image-two != blank %}{{section.settings.image-two | img_url:'master'}}{%else%}https://cdn.shopify.com/s/files/1/0333/0936/0264/files/womens_tab.jpg?v=1582538869{%endif%}">
        <div class="absolute-area">
          <span> {%if section.settings.text-two != blank %} {{section.settings.text-two}} {%else%}Women's Watches{%endif%}</span>
        <a href="{%if section.settings.url-two != blank %} {{section.settings.url-two}} {%else%}collections/womens-watches{%endif%}">SHOP ALL</a>
      </div>
    </div>
  </div>
  
  </div>
  </div>
</div>


 
{% schema %}
{
  "name": "Collection-Section",
  "class": "index-section",
      "settings": [
      
      {
          "type": "image_picker",
          "id": "image-one",
          "label":"Image"
        },
  {
          "type": "text",
          "id": "text-one",
          "label":"Text"
        },
 {
          "type": "url",
          "id": "url-one",
          "label":"url"
        },
          {
          "type": "image_picker",
          "id": "image-two",
          "label":"Image"
        },
 {
          "type": "text",
          "id": "text-two",
          "label":"Text"
        },
 {
          "type": "url",
          "id": "url-two",
          "label":"url"
        }
      ],
  "presets": [
    {
      "name": "Collection-Section",
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}