<div class="shop-by-collection block">
  <div class="wrapper-mini">
    <h2 class="block-title">SHOP BY <span class="colors">COLLECTION</span></h2> 
    <div class="desktop slider-collection row">
     {% for block in section.blocks %}
     <div class="home-collections col-sm-4 col-md-4 col-xs-12">
    <div class="first-slider">
       <a href="{{block.settings.link}}"> 
      <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if block.settings.image != blank %}{{block.settings.image | img_url:'master'}}{%endif%}">
      <div class="hiddens"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if block.settings.hoverimage != blank %}{{block.settings.hoverimage | img_url:'master'}}{%endif%}"></div>
     <span class="monaco">{{block.settings.Tile}}</span>
      </a>
    </div>
    </div>
    {%endfor%}
  </div>
<!--    Mobile div Confliction  -->
    <div class="mobile mobslider-collection row collections_mobile">
     {% for block in section.blocks %}
     <div class="home-collections col-sm-4 col-md-4 col-xs-12">
    <div class="first-slider">
       <a href="{{block.settings.link}}">
      <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if block.settings.image != blank %}{{block.settings.image | img_url:'master'}}{%endif%}">
      <div class="hiddens"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if block.settings.hoverimage != blank %}{{block.settings.hoverimage | img_url:'master'}}{%endif%}"></div>
      </a>
      <a href="{{block.settings.link}}"> <span class="monaco">{{block.settings.Tile}}</span></a>
    </div>
    </div>
    {%endfor%}
  </div>
   <!--    Mobile div Confliction  --> 
  </div>                                                                                            
</div>

{% schema %}
{
  "name": "Home-featured-Collections",
  "class": "index-section",
  "blocks": [
    {
      "type": "image",
      "name": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
   {
          "type": "image_picker",
          "id": "hoverimage",
          "label": "hoverimage"
        },
		{
          "type": "text",
          "id": "Tile",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "da": "Billedlink",
            "de": "Bild-Link",
            "en": "Image link",
            "es": "Enlace de imagen",
            "fi": "Kuvan linkki",
            "fr": "Lien vers l'image",
            "hi": "इमेज लिंक",
            "it": "Link immagine",
            "ja": "画像リンク",
            "ko": "이미지 링크",
            "nb": "Bildekobling",
            "nl": "Afbeeldingslink",
            "pt-BR": "Link da imagem",
            "pt-PT": "Ligação de imagens",
            "sv": "Bildlänk",
            "th": "ลิงก์รูปภาพ",
            "zh-CN": "图片链接",
            "zh-TW": "圖片連結"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home-featured-Collections",
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
