<div class="block">
  <div class="wrapper-mini">
     <h2 class="block-title">EXPLORE MORE</h2>
    <div class="desktop">
    <div class="row display-align">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="imagess">
          <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.image != blank %}{{section.settings.image | img_url:'500x500'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}" data-src="{%if section.settings.image != blank %}{{section.settings.image | img_url:'500x500'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}">
         <div class="btn-area">
          {%if section.settings.data != blank %} <span>{{ section.settings.data}}</span>{%endif%}
           <span class="webistes">Website Exclusive Watches</span>
             <a href="{{section.settings.url-one}}" class="webistes-link">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
           </a>
          </div>
        </div>
      </div>
       <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="watch-guide">
           <div class="watchss">
             <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.image1 != blank %}{{section.settings.image1 | img_url:'500x220'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}" data-src="{%if section.settings.image1 != blank %}{{section.settings.image1 | img_url:'500x220'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}">
             <div class="watches-details">
           {%if section.settings.data != blank %}    <span class="title-col">{{section.settings.data1}}</span>{%endif%}
               <a href="{{section.settings.url-two}}">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
               </a>
             </div>
           </div>
           <div class="watchss">
             <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.image2 != blank %}{{section.settings.image2 | img_url:'500x220'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}" data-src="{%if section.settings.image2 != blank %}{{section.settings.image2 | img_url:'500x220'}}{%else%}{{'placeholder-img' | asset_url}}{%endif%}">
             <div class="watches-details">
                {%if section.settings.data != blank %}   <span class="title-col">{{section.settings.data2}}</span>{%endif%}
               <a href="{{section.settings.url-three}}">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
               </a>
             </div>
           </div>
         </div>
      </div>
    </div>
    </div>
<!--     row mini mobile -->
    
    <div class="mobile">
   <div class="row display-align slider-massaonry">
     <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="imagess">
         <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.mob-image != blank %}{{section.settings.mob-image | img_url:'master'}}{%else%}https://cdn.shopify.com/s/files/1/0333/0936/0264/files/aquadiver_eb6bb906-223b-49aa-a194-c7c9b9020b23.jpg?v=1582609513{%endif%}" data-src="{%if section.settings.mob-image != blank %}{{section.settings.mob-image | img_url:'master'}}{%else%}https://cdn.shopify.com/s/files/1/0333/0936/0264/files/aquadiver_eb6bb906-223b-49aa-a194-c7c9b9020b23.jpg{%endif%}">
         <div class="btn-area">
           {%if section.settings.data != blank %} <span>{{ section.settings.data}}</span>{%endif%}
           <span class="webistes">Website Exclusive Watches</span>
           <a href="{{section.settings.url-one}}" class="webistes-link">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
           </a>
         </div>
       </div>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="watch-guide">
         <div class="watchss">
           <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.mob-image1 != blank %}{{section.settings.mob-image1 | img_url:'master'}}{%else%}https://via.placeholder.com/500x220{%endif%}">
           <div class="watches-details">
             {%if section.settings.data != blank %}    <span class="title-col">{{section.settings.data1}}</span>{%endif%}
             <a href="{{section.settings.url-two}}">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
             </a>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="watch-guide">
         <div class="watchss">
           <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{%if section.settings.mob-image2 != blank %}{{section.settings.mob-image2 | img_url:'master'}}{%else%}https://via.placeholder.com/500x220{%endif%}" data-src="{%if section.settings.mob-image2 != blank %}{{section.settings.mob-image2 | img_url:'master'}}{%else%}https://via.placeholder.com/500x220{%endif%}">
           <div class="watches-details">
             {%if section.settings.data != blank %}   <span class="title-col">{{section.settings.data2}}</span>{%endif%}
             <a href="{{section.settings.url-three}}">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
             </a>
           </div>
         </div>
       </div>
     </div>
      </div>
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Massonary-collections",
  "class": "index-section",
      "settings": [

        {
          "type": "image_picker",
          "id": "image",
          "label":"Image"
        },
 {
          "type": "image_picker",
          "id": "mob-image",
          "label":"Mobile Image"
        },
         {
          "type": "text",
          "id": "data",
          "label":"Text"
	        },
	     {
          "type": "url",
          "id": "url-one",
          "label":"URL"
        },
 	{
          "type": "image_picker",
          "id": "image1",
          "label":"Image"
        },
{
          "type": "image_picker",
          "id": "mob-image1",
          "label":"Mobile Image"
        },
         {
          "type": "text",
          "id": "data1",
          "label":"Text"
	        },
	     {
          "type": "url",
          "id": "url-two",
          "label":"URL"
        },
			{
          "type": "image_picker",
          "id": "image2",
          "label":"Image"
        },
{
          "type": "image_picker",
          "id": "mob-image2",
          "label":"Mobile Image"
        },
         {
          "type": "text",
          "id": "data2",
          "label":"Text"
	        },
	     {
          "type": "url",
          "id": "url-three",
          "label":"URL"
        }
      ],
  "presets": [
    {
      "name": "Massonary-collections",
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}