{% comment %}
  {% assign current = product.selected_or_first_available_variant %}
  {%if current.title == image.alt %}
  {% endif %}
{% endcomment %}
{% if request.device_type == 'mobile' %}
  <div class="mobile-product-image-wrapper" style="text-align: center; margin-bottom: 20px;">
    {% assign fallback_image = product.images[0] %}
    <img
  id="MainProductImage"
  src="{{ product.featured_image | default: fallback_image | img_url: '800x' }}"
  alt="{{ product.title }}"
  class="mobile-product-image"
  style="max-width: 100%; height: auto;"
>

  </div>
{% endif %}

<div class="wrapper-mini">
  <div
    itemscope
    itemtype="http://schema.org/Product"
    class="product_top_part"
    id="ProductSection"
    data-section-id="{{ section.id }}"
    data-section-type="product-template"
    data-image-zoom-type="{{ section.settings.product_image_zoom_type }}"
    data-show-extra-tab="{{ section.settings.show_extra_tab }}"
    data-extra-tab-content="{{ section.settings.extra_tab_content }}"
    data-enable-history-state="true"
  >
    {% case section.settings.add_to_cart_width %}
      {% when 'small' %}
        {%- assign btn_class = 'btn--wide' -%}
        {%- assign productform_class = 'product-form--wide' -%}
      {% when 'medium' %}
        {%- assign btn_class = 'btn--wide' -%}
        {%- assign productform_class = 'product-form--wide' -%}
      {% when 'large' %}
        {%- assign btn_class = 'btn--full' -%}
        {%- assign productform_class = 'product-form--full' -%}
    {% endcase %}

    {% if section.settings.add_to_cart_width != 'small' %}
      <style>
        @media screen and (min-width: 769px){
          .single-option-selector,
          .quantity-selector {
            {% if section.settings.add_to_cart_width == 'medium' %}
              min-width: 50%;
            {% else %}
              min-width: 100%;
            {% endif %}
          }
        }
      </style>
    {% endif %}

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <!--
      <div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
      </div>
    -->

    <div class="product-single">
      <div class="grid product-single__hero">
        <div class="grid__item post-large--one-half product_position">
          {% if section.settings.product_thumbnails_position == 'below' %}
            <div class="product-single__photos">
              {% if product.variants.size > 1 %}
                {% assign current_variant = product.selected_or_first_available_variant %}
                {% for image in product.images %}
  {% assign variant_for_image = product.variants | where: "image_id", image.id | first %}
  {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
  {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

  <div
    id="{{ img_wrapper_id }}"
    class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} zoom-lightbox{% endif %}"
    data-image-id="{{ image.id }}"
    {% if variant_for_image %}
      data-variant-id="{{ variant_for_image.id }}"
    {% endif %}
  >
    <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
      <img
        {% if featured_image == image %}id="MainProductImage"{% endif %}
        class="product-single__image"
        src="{{ image | img_url: '800x' }}"
        alt="{{ image.alt | escape }}"
        style="max-width: 100%; height: auto;"
      >
    </div>
  </div>
{% endfor %}
                <noscript>
                  <img
                    class="lazyload"
                    src="{{ current_variant.image | img_url: '100x' }}"
                    data-src="{{ current_variant.image | img_url: 'master', scale: 2 }}"
                    alt="{{ featured_image.alt | escape }}"
                  >
                </noscript>
              {% else %}
                {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
                {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
                {%- assign img_url = product.featured_image | product_img_url: 'large' -%}
                {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

                <div
                  id="{{ img_wrapper_id }}"
                  class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %}"
                  data-image-id="{{ image.id }}"
                >
                  <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
                    <img
                      id="{{ img_id }}"
                      class="product-single__image lazyload"

                      src="{{ product.featured_image | product_img_url: 'large' }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      data-zoom-image="{{ product.featured_image | img_url: 'master' }}"
                      {% if section.settings.product_image_zoom_type == 'zoom-in' %}
                        data-zoom="{{ product.featured_image | img_url: '1024x1024', scale: 2 }}"
                      {% endif %}
                      alt="{{ image.alt | escape }}"
                    >
                  </div>
                </div>

                <noscript>
                  <img
                    class="lazyload"
                    src="{{ product.featured_image | img_url: '100x' }}"
                    data-src="{{ product.featured_image | img_url: 'master', scale: 2 }}"
                    alt="{{ featured_image.alt | escape }}"
                  >
                </noscript>
              {% endif %}
            </div>

            {% if product.images.size > 0 %}
              <ul class="product-single__thumbnails grid-uniform mobile-prod" id="ProductThumbs">
                {% for image in product.images %}
                  <li
                    data-color="{{image.alt}}"
                    class="grid__item wide--one-quarter large--one-third medium-down--one-third"
                  >
                    <img
                      class=""
                      src="{{ image.src | img_url: 'master' }}"
                      data-src="{{ image.src | img_url: 'grande' }}"
                      alt="{{ image.alt | escape }}"
                    >
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <div class="grid margin-left-free">
              <div class="left-padding grid__item one-fifth product-single__left small--one-whole">
                <div class="large--hide single__title">
                  <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>
                  <div class="star-review mobile-review">
                    {% comment %}Start automatically added Judge.me widget{% endcomment %}
                    {% include 'judgeme_widgets',
                      widget_type: 'judgeme_preview_badge',
                      concierge_install: true,
                      product: product
                    %}
                    {% comment %}End automatically added Judge.me widget{% endcomment %}
                  </div>
                  {% assign current_variant = product.selected_or_first_available_variant %}

                  {% comment %}
                    To show an image until the slider comes with the image
                    This was done as no images were showing until the slider loads
                      {% if product.variants.size > 1 %}
                       <div class="single_mobile_image"><img src="{{ current_variant.image | img_url: '500x' }}"></div>
                      {%else%}
                       <div class="single_mobile_image"><img src="{{ product.featured_image | img_url: '500x' }}"></div>
                      {% endif %}
                  {% endcomment %}

                  <div
                    class="main_div_mobile"
                    style="background-image:url('{{ current_variant.image | img_url: 'master' }}')"
                  >
                    <ul class="grid product-single__thumbnails mobile-prod" id="ProductThumbs">
                      {% for image in product.images %}
                        <li class="grid__item" data-thumbanis="{{image.alt}}">
                          <a
                            data-image-id="{{ image.id }}"
                            href="{{ image.src | img_url: '1024x1024' }}"
                            class="product-single__thumbnail"
                            ><img
                              class=""
                              data-src="{{ image.src | img_url: 'master' }}"
                              src="{{ image.src | img_url: 'master' }}"
                              alt="{{ image.alt | escape }}"
                          ></a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="main_div_desktop">
                  <ul class="grid product-single__thumbnails mobile-prod" id="ProductThumbs">
                    {% for image in product.images %}
                      <li class="grid__item" data-thumbanis="{{image.alt}}">
                        <a
                          data-image-id="{{ image.id }}"
                          href="{{ image.src | img_url: '1024x1024' }}"
                          class="product-single__thumbnail"
                          ><img
                            class=""
                            data-src="{{ image.src | img_url: 'master' }}"
                            src="{{ image.src | img_url: 'master' }}"
                            alt="{{ image.alt | escape }}"
                        ></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div id="ajax-data" style="display:none;">
                  {% for image in product.images %}
                    <li class="grid__item">
                      <a data-image-id="{{ image.id }}" href="#" class="product-single__thumbnail"
                        ><img
                          class=""
                          src="{{ image.src | img_url: 'master' }}"
                          data-src="{{ image.src | img_url: 'master' }}"
                          alt="{{ image.alt | escape }}"
                      ></a>
                    </li>
                  {% endfor %}
                </div>
                <div class="gallery-video">
                  {% for variant in product.variants %}
                    {% assign current = product.selected_or_first_available_variant %}
                    {% if variant.metafields.Stuhrling.Rotate_video != blank %}
                      <div
                        {% if current.id == variant.id %}
                        {% else %}
                          style="display:none"
                        {% endif %}
                        class="{{variant.id}}"
                        id="variant_id"
                      >
                        <div
                          class="cc-video"
                          style="visibility: visible;"
                          data-scr="<iframe src='{{ variant.metafields.Stuhrling.Rotate_video  | split:'?' | first}}?autoplay=1&loop=1&autopause=0' width='640' height='360' frameborder='0' allow='autoplay; fullscreen' allowfullscreen></iframe>"
                        >
                          <div class="video-item">
                            <div class="cc-info"><i class="icon-play-ytb"></i></div>
                          </div>
                          <iframe
                            src="{{ variant.metafields.Stuhrling.Rotate_video  | split:'?' | first}}?autoplay=1&loop=1&autopause=0"
                            width="640"
                            height="360"
                            frameborder="0"
                            allow="autoplay; fullscreen"
                            allowfullscreen
                          ></iframe>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
             <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
  {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
  
  <img
    class="lazyload1 zoom-cls"
    data-zoom-image="{{ featured_image | img_url: 'master' }}"
    src="{{ featured_image | img_url: '1024x1024' }}"
    data-src="{{ featured_image | img_url: '1024x1024@2x' }}"
    alt="{{ featured_image.alt | escape }}"
    style="max-width: 100%; height: auto; display: block !important;"
  >

  <noscript>
    <img
      class="zoom-cls"
      src="{{ featured_image | img_url: 'master'}}"
      data-src="{{ featured_image | img_url: '1024x1024@2x' }}"
      alt="{{ featured_image.alt | escape }}"
    >
  </noscript>
  
  <div class="video_cls"></div>
</div>
          {% endif %}

          {% if section.settings.product_image_zoom_type == 'lightbox' %}
            <ul class="gallery" class="hidden">
              {% for image in product.images %}
                <li
                  data-image-id="{{ image.id }}"
                  class="gallery__item"
                  data-mfp-src="{{ image | img_url: '1024x1024', scale: 2 }}"
                ></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="grid__item post-large--one-half product_position">
          {% assign current_variant = product.selected_or_first_available_variant %}
          {% if current_variant.metafields.Stuhrling.Variant_Title != blank %}
            <h1 class="small--hide test product-single__title aaa" itemprop="name">
              {% for variant in product.variants -%}
                <span
                  class="custom_variant_title {{variant.id}}"
                  {% if current_variant.id == variant.id %}
                  {% else %}
                    style="display:none"
                  {% endif %}
                >
                  {{- variant.metafields.Stuhrling.Variant_Title }}
                </span>
              {% endfor %}
            </h1>
          {% else %}
            <h1 class="small--hide product-single__title" itemprop="name">{{ product.title }}</h1>
          {% endif %}
          <div class="star-review small--hide desktop_review">
            {% comment %}Start automatically added Judge.me widget{% endcomment %}
            {% include 'judgeme_widgets',
              widget_type: 'judgeme_preview_badge',
              concierge_install: true,
              product: product
            %}
            {% comment %}End automatically added Judge.me widget{% endcomment %}
          </div>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% assign variant = product.selected_or_first_available_variant %}
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <link
              itemprop="availability"
              href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}"
            >

            <div
              class="price_part {% if product.available and product.variants.size > 1 %}mob-hidden{% endif %}"
              data-price="{{ variant.price | money_without_currency }}"
            >
              <span class="price_update">{{ variant.price | money }} </span>
              {% if variant.compare_at_price %}
                <span id="ComparePrice" class="product-single__sale-price">{{ variant.compare_at_price | money }}</span>
              {% endif %}
              {% if product.metafields.Stuhrling.MSRP != blank %}
                <span class="product--value">MSRP: {{ product.metafields.Stuhrling.MSRP }}</span>
                <span class="vat-msg-outsite-us">(VAT Included)</span>
              {% endif %}

              {% if product.metafields.Stuhrling.MSRP_IN_EURO %}
                <span class="product--value euro_msrp_metafield">{{ product.metafields.Stuhrling.MSRP_IN_EURO }}</span>
              {% endif %}
              {% if variant.compare_at_price > variant.price %}
                <div class="grid-product__on-sale">
                  {% capture saved_amount %}{{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round }}{% endcapture %}
                  {% capture saved_amounts %}{{ product.compare_at_price | minus: variant.price }}{% endcapture %}
                  <p>
                    You save {{ saved_amounts | money }} ({{ saved_amount }}% off)<span class="price_Sale_discount"
                      >Discounted price cannot be combined with other offers.</span
                    >
                  </p>
                </div>
              {% endif %}
            </div>
            <div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <span id="ProductPrice" class="product-single__price">{{ variant.price | money }}</span>
              {% include 'product-unit-price', variant: variant, available: true %}
              {% comment %}
                <!-- Placement v2 -->
                <klarna-placement data-key="credit-promotion-small" data-locale="en-US" data-purchase-amount=""></klarna-placement>
                <!-- end Placement -->
              {% endcomment %}
            </div>
            <!--
              <p class="affirm-as-low-as" data-page-type="product" data-amount="{{ current_variant.price | money }}"></p>
            -->
            <a class="description_toggle_head {% if product.available and product.variants.size > 1 %}mob-hidden{% endif %}"
              >View Product Features</a
            >
            <div
              class="product-description rte description_toggle {% if product.available and product.variants.size > 1 %}mob-hidden{% endif %}"
              itemprop="description"
              style="display:none;"
            >
              {{ product.description }}
            </div>
            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="hide product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {% form 'product', product, class: productform_class %}
              <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
  {% for variant in product.variants %}
    {% if variant.available %}
      <option
        {% if variant == product.selected_or_first_available_variant %}
          selected="selected"
        {% endif %}
        data-image-id="{{ variant.image.id }}"
        data-sku="{{ variant.sku }}"
        value="{{ variant.id }}"
      >
        {{ variant.title }} - {{ variant.price | money_with_currency }}
      </option>
    {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
    {% endif %}
  {% endfor %}
</select>

              {% assign current_variant = product.selected_or_first_available_variant %}
              <div
                class="price_part desk-hidden mobile_cart_price"
                data-price="{{ variant.price | money_without_currency }}"
              >
                <span class="price_update">{{ variant.price | money }} </span>
                <span class="vat-msg-outsite-us">(VAT Included)</span>
                {% if variant.compare_at_price %}
                  <span id="ComparePrice" class="product-single__sale-price">
                    {{- variant.compare_at_price | money -}}
                  </span>
                {% endif %}
                {% if product.metafields.Stuhrling.MSRP != blank %}
                  <span class="product--value">MSRP: {{ product.metafields.Stuhrling.MSRP }}</span>
                {% endif %}
                {% if product.metafields.Stuhrling.MSRP_IN_EURO %}
                  <span class="product--value">{{ product.metafields.Stuhrling.MSRP_IN_EURO }}</span>
                {% endif %}
                {% if variant.compare_at_price > variant.price %}
                  <div class="grid-product__on-sale">
                    {% capture saved_amount %}{{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round }}{% endcapture %}
                    {% capture saved_amounts %}{{ product.compare_at_price | minus: variant.price }}{% endcapture %}
                    <p>
                      You save {{ saved_amounts | money }} ({{ saved_amount }}% off)<span class="price_Sale_discount"
                        >Discounted price cannot be combined with other offers.</span
                      >
                    </p>
                  </div>
                {% endif %}
              </div>
              <div class="{{current_variant.id}}"></div>
              {% if product.variants.size > 1 %}
                {% render 'swatch' for product.options as swatch %}
                <div class="button-center cart_price_btn_1 cart_fixed_btn">
                  <button
                    type="submit"
                    name="add"
                    id="AddToCart"
                    class="{% if current_variant.available and product.variants.size > 1 %}{% else %}sold_out_btn{% endif %} cart_fixed_add_to_cart btn {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    data-price="{{ variant.price | money_without_currency |  plus: 0}}"
                  >
                    <span id="AddToCartText">
                      {%- if current_variant.available and product.variants.size > 1 -%}
                        {{- 'products.product.add_to_cart' | t -}}
                      {%- else -%}
                        {{- 'products.product.sold_out' | t -}}
                      {%- endif -%}
                    </span>
                    {{ variant.price | money }}
                  </button>
                </div>
                <div id="yourClydePDPSelector" class="shipping-icons"></div>
                {% if product.available %}
                  {% include 'variant-upsells' %}
                {% endif %}
              {% endif %}
              <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>

              <!-- Extend -- Add mobile offer element -->
              <!-- <div id="extend-offer-mobile"></div> -->
              <!-- Extend -- End Extend code -->
              <!-- Splitit Message -->
              {% if product.available and product.variants.size > 1 %}
                <div class="price_part desk-hidden" data-price="{{ variant.price | money_without_currency }}">
                  <span class="price_update">{{ variant.price | money }} </span>
                  {% if variant.compare_at_price %}
                    <span id="ComparePrice" class="product-single__sale-price">
                      {{- variant.compare_at_price_max | money -}}
                    </span>
                  {% endif %}
                  {% if product.metafields.Stuhrling.MSRP != blank %}
                    <span class="product--value">MSRP: {{ product.metafields.Stuhrling.MSRP }}</span>
                  {% endif %}
                  {% if product.metafields.Stuhrling.MSRP_IN_EURO %}
                    <span class="product--value euro_msrp_metafield">
                      {{- product.metafields.Stuhrling.MSRP_IN_EURO -}}
                    </span>
                  {% endif %}
                  {% if variant.compare_at_price > variant.price %}
                    <div class="grid-product__on-sale">
                      {% capture saved_amount %}{{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round }}{% endcapture %}
                      {% capture saved_amounts %}{{ product.compare_at_price | minus: variant.price }}{% endcapture %}
                      <p>
                        You save {{ saved_amounts | money }} ({{ saved_amount }}% off)<span class="price_Sale_discount"
                          >Discounted price cannot be combined with other offers.</span
                        >
                      </p>
                    </div>
                  {% endif %}
                </div>
                <a class="description_toggle_head desk-hidden">View Product Features</a>
                <div
                  class="product-description rte description_toggle desk-hidden"
                  itemprop="description"
                  style="display:none;"
                >
                  {{ product.description }}
                </div>
              {% endif %}

              <div
                id="splitit-container"
                data-splitit="true"
                data-splitit-amount="{{ current_variant.price | divided_by: 100.0 | json }}"
                data-splitit-num-installments="5"
                data-splitit-type="product-description"
              ></div>
              <div id="yourClydePDPSelector"></div>

             
                <div class="button-center cart_price_btn AddToCartButton">
                  <button
                    data-ge-hide-countries="{% if product.tags contains 'Blocked_KW' %}KW US{% elsif product.tags contains 'Blocked_KW_US_AU_NZ' %}KW US AU NZ {% elsif product.tags contains 'Blocked_AU_NZ' %} AU NZ US{% elsif product.tags contains 'Blocked_ALL' %}ALL US{% else %}US{% endif %}"
                    type="submit"
                    name="add"
                    id="AddToCart"
                    class="btn {% if current_variant.available and product.variants.size > 1 %}{% else %}sold_out_btn{% endif %} {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    data-price="{{ variant.price | money_without_currency |  plus: 0}}"
                    style="display:none;"
                  >
                    <span id="AddToCartText">
                      {% if current_variant.available and product.variants.size > 1 -%}
                        {{- 'products.product.add_to_cart' | t -}}
                      {%- else -%}
                        {{- 'products.product.sold_out' | t -}}
                      {%- endif -%}
                    </span>
                    {{ variant.price | money }}
                  </button>
                  <button
                    data-ge-show-countries="US"
                    type="submit"
                    name="add"
                    id="AddToCart"
                    class="us-selected-country-us btn {% if current_variant.available and product.variants.size > 1 %}{% else %}sold_out_btn{% endif %} {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    data-price="{{ variant.price | money_without_currency |  plus: 0}}"
                    style="display: block;"
                  >
                    <span id="AddToCartText">
                      {% if current_variant.available -%}
                        {{- 'products.product.add_to_cart' | t -}}
                      {%- else -%}
                        {{- 'products.product.sold_out' | t -}}
                      {%- endif -%}
                    </span>
                    {{ variant.price | money }}
                  </button>
                  <button
                    disabled
                    data-ge-show-countries="{% if product.tags contains 'Blocked_KW' %}KW{% elsif product.tags contains 'Blocked_KW_US_AU_NZ' %}KW US AU NZ {% elsif product.tags contains 'Blocked_AU_NZ' %} AU NZ  {% elsif product.tags contains 'Blocked_ALL' %}ALL{% endif %}"
                    type="submit"
                    name="add"
                    id="AddToCart"
                    class="btn {% if current_variant.available %}{% else %}sold_out_btn{% endif %} {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    data-price="{{ variant.price | money_without_currency |  plus: 0}}"
                    style="display:none;"
                  >
                    <span id="AddToCartText">
                      {% if current_variant.available -%}
                        {{- 'products.product.add_to_cart' | t -}}
                      {%- else -%}
                        {{- 'products.product.sold_out' | t -}}
                      {%- endif -%}
                    </span>
                    {{ variant.price | money }}
                  </button>
                  <div
                    class="error_message"
                    style="color:red; font-weight:600;"
                    data-ge-show-countries="{% if product.tags contains 'Blocked_KW' %}KW{% elsif product.tags contains 'Blocked_KW_US_AU_NZ' %}KW US AU NZ {% elsif product.tags contains 'Blocked_AU_NZ' %} AU NZ {% elsif product.tags contains 'Blocked_ALL' %}ALL{% endif %}"
                    style="display:none;"
                  >
                    <i class="fa fa-times-circle"></i> We are sorry, but you are unable to purchase this product in the
                    selected country due to restrictions.
                  </div>
                </div>
             
 {% comment %}
              <div class="button-center cart_price_btn AddToCartButton">
                {% if current_variant.available %}
                  <button
                    data-ge-hide-countries="{% if product.tags contains 'Blocked_KW' %}KW US{% elsif product.tags contains 'Blocked_KW_US_AU_NZ' %}KW US AU NZ {% elsif product.tags contains 'Blocked_AU_NZ' %} AU NZ US{% elsif product.tags contains 'Blocked_ALL' %}ALL US{% else %}US{% endif %}"
                    type="submit"
                    name="add"
                    class="btn {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    data-price="{{ variant.price | money_without_currency | plus: 0}}"
                  >
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                    {{ variant.price | money }}
                  </button>
                {% else %}
                  <button
                    type="button"
                    class="sold_out_btn btn {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"
                    disabled
                  >
                    {{ 'products.product.sold_out' | t }}
                  </button>
                {% endif %}

                <div
                  class="error_message"
                  style="color:red; font-weight:600;"
                  data-ge-show-countries="{% if product.tags contains 'Blocked_KW' %}KW{% elsif product.tags contains 'Blocked_KW_US_AU_NZ' %}KW US AU NZ {% elsif product.tags contains 'Blocked_AU_NZ' %} AU NZ {% elsif product.tags contains 'Blocked_ALL' %}ALL{% endif %}"
                  style="display:none;"
                >
                  <i class="fa fa-times-circle"></i> We are sorry, but you are unable to purchase this product in the
                  selected country due to restrictions.
                </div>
              </div> {% endcomment %}

              <div class="shipping-icons product-page-shiping-as-country">
                {% unless product.tags contains 'Strap' %}
                  {% comment %}  <img class="product-page-free-shipping-icon" src="{{ 'free-shipping-png.png' | asset_url }}">{% endcomment %}
                  {{ section.settings['free-ship-text-id'] -}}
                  <span class="free-ship-price"></span>
                {% endunless %}
              </div>

              <div class="shipping-Strap">
                {% if product.tags contains 'Strap' %}
                  {% include 'strap_text' %}
                {% endif %}
              </div>

              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            {% endform %}

            {% unless section.settings.show_extra_tab == false or pages[section.settings.extra_tab_content] == empty %}
              <div class="tabs">
                <ul class="tab-switch__nav">
                  <li>
                    <a href="#description" data-link="description" class="tab-switch__trigger h3">
                      {{- 'products.product.description' | t -}}
                    </a>
                  </li>
                  <li class="extra_tab">
                    <a href="#extra" data-link="extra" class="tab-switch__trigger h3">
                      {{- pages[section.settings.extra_tab_content].title -}}
                    </a>
                  </li>
                </ul>
                <div id="description" class="tab-switch__content" data-content="description">
                  <div class="product-description rte" itemprop="description">{{ product.description }}</div>
                </div>
                <div id="extra" class="tab-switch__content" data-content="extra">
                  <div class="rte">{{ pages[section.settings.extra_tab_content].content }}</div>
                </div>
              </div>
            {% else %}

            {% endunless %}

            {% if section.settings.social_sharing %}
              <hr class="hr--clear hr--small">
              <h2 class="h4">{{ 'products.general.share_title' | t }}</h2>
              {% include 'social-sharing' %}
            {% endif %}
          </div>
        </div>
      </div>

      {% comment %}Start automatically added Judge.me widget{% endcomment %}
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
      {% comment %}End automatically added Judge.me widget{% endcomment %}
    </div>
  </div>

  {% include 'product-reviews' %}
  <div class="product_bottom_part">
    {% if product.tags contains 'Strap' %}
      <div class="small--hide">{% include 'strap-desktop' %}</div>

    {% else %}
      <div class="small--hide desktop_tabs_outer">{% include 'desktop-tab-details' %}</div>
    {% endif %}
  </div>
  {% if product.tags contains 'Strap' %}
    <div class="large--hide accordinn">{% include 'strap-mobile' %}</div>
  {% else %}
    <div class="large--hide accordinn">{% include 'Mobile-tab-details' %}</div>
  {% endif %}
</div>

{% comment %}
  //////////////////////METAFIELDS VARIANT//////////////////////////

  <!--  <div class="secondpart">
               <ul class="free-space_new free-space col-md-4 col-sm-4 sol-xs-12">
                 <li>
                   {% for variant in product.variants %}

                   {% assign current = product.selected_or_first_available_variant %}
                   <span {%if current.id == variant.id %}{%else%}style="display:none" {%endif%} class="{{variant.id}}">Dimensions:</span>
                   <span {%if current.id == variant.id %}{%else%}style="display:none" {%endif%} class="{{variant.id}} value-span">  {%if variant.metafields.Dimensions.Dimensions !=blank %}{{ variant.metafields.Dimensions.Dimensions }}{% else %}{{ variant.title | split:'/' | first | replace: 'inch','"' }}{% endif %}</span>
                   {% endfor %}
                 </li>
     </ul>
     <script>
  document.addEventListener('DOMContentLoaded', function () {
    const variantSelect = document.querySelector('#ProductSelect-{{ section.id }}');
    const imageWrappers = document.querySelectorAll('[data-variant-id]');

    if (!variantSelect || !imageWrappers.length) return;

    variantSelect.addEventListener('change', function (event) {
      const selectedVariantId = event.target.value;

      imageWrappers.forEach(function (wrapper) {
        if (wrapper.getAttribute('data-variant-id') === selectedVariantId) {
          wrapper.classList.remove('hide');
        } else {
          wrapper.classList.add('hide');
        }
      });
    });
  });
</script>
            </div>  -->
{% endcomment %}